<h1>Listagem  de <%= @clients.count %> cliente(s)</h1>
<%= link_to 'Novo Cliente', new_admin_client_path, :class => 'button success round' %>
<input type="button" onclick="generateexcel('table-client')" value="Exportar para Excel" class="button success round">

<table id="table-client" >
  <thead>
  <tr>
    <th>Nome</th>
    <th>CPF</th>
    <th>Email</th>
    <th>Idade</th>
    <th>Sexo</th>
    <th>Cidade</th>
    <th>Celular</th>
    <th>Renda</th>
    <th>Civil</th>
    <th>Nome</th>
    <th>CPF</th>
    <th>Email</th>
    <th>Sexo</th>
  </tr>
</thead>
<tbody>
<% @clients.each do |client| %>
  <tr>
    <td><%= link_to  client.nome, [:admin, client] , :title => 'Visualizar Cliente' %></td>
    <td><%= client.cpf %></td>
    <td><%= client.email %></td>
    <td><%= client.idade %></td>
    <td><%= client.sexo == 'm' ? 'Masculino' : 'Feminino' %></td>
    <td><%= client.cidade %></td>
    <td><%= client.telefone %></td>
    <td><%= renda_familiar(client.renda_familiar) %></td>
    <td><%= client.estado_civil %></td>

    <td><%= client.conjugue_nome %></td>
    <td><%= client.conjugue_cpf %></td>
    <td><%= client.conjugue_email %></td>
    <td><%= client.conjugue_sexo == 'm' ? 'Masculino' : 'Feminino' %></td>
  </tr>
<% end %>
</tbody>
</table>
<br />

<%= link_to 'Novo Cliente', new_admin_client_path, :class => 'button success round' %>
<input type="button" onclick="generateexcel('table-client')" value="Exportar para Excel" class="button success round">

