<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @client.nome %>
</p>

<p>
  <b>Email:</b>
  <%= @client.email %>
</p>

<p>
  <b>Cidade:</b>
  <%= @client.cidade %>
</p>

<p>
  <b>Telefone:</b>
  <%= @client.telefone %>
</p>


<%= link_to 'Editar', edit_admin_client_path(@client), :class => 'button primary round' %> |
<%= link_to 'Voltar', admin_clients_path, :class => 'button primary round' %>
