	<div class="large-12 columns no-padding">
		    <ul data-orbit data-options="timer_speed:1500; bullets:false; stack_on_small:false;">
			  <li>
			    <%= image_tag("1.jpg") %>
			  </li>
			  <li>
			    <%= image_tag("2.jpg") %>
			  </li>
			  <li>
			    <%= image_tag("3.jpg") %>
			  </li>
			</ul>
	</div>
	<div id="novo-bairro" class="large-12 columns wrapper bg-6 no-padding">
		<div id="fade-it" class="large-12 columns ">
			<h2 class="novo-bairro-move">novo bairro</h2>
			<div class="large-12 columns content">
				<figure>
					<%= image_tag("planta.jpg", :alt => "Planta do empreendimento", :class => 'box-shadow-green empreendimento') %>
				  	<figcaption>* Imagem representa a planta inicial do projeto, entretanto a mesma poderá sofrer modificação no decorrer de sua execução.</figcaption>
				</figure>
			</div>
			<div class="info-l description d-1">
				<h4><%= image_tag("mirafloris-1.png", :class => 'mirafloris') %>  MIRAFLORIS</h4>
				<ul>
					<li>
						<p>
							<strong>201.627,4 m²</strong> <small>de área construída</small>
						</p>
					</li>
					<li>
						<p><strong>4.160</strong> <small>apartamentos</small></p>
					</li>
					<li>
						<p>
							<strong>64</strong> <small>apartamentos por condomínio <span class="smaller">em média</span></small>
						</p>
					</li>
					<li>
						<p>
							<strong>70</strong> <small>condomínios</small>
						</p>
					</li>
					<li>
						<h5>Cada condomínio terá:</h5>
						<ul class="sub">
							<li>
								<p><strong>1</strong> <small>playground</small> </p>
							</li>
							<li>
								<p><strong>1</strong> <small>guarita</small> </p>
							</li>
							<li>
								<p><strong>1</strong> <small>casa do lixo</small></p>
							</li>
							<li>
								<p><strong>1</strong> <small>terraço de jogos</small></p>
							</li>
							<li>
								<p><strong>1</strong> <small>zeladoria</small></p>
							</li>
							<li>
								<p><strong>Sistema de segurança</strong></p>
							</li>
						</ul>
					</li>
					
				</ul>
			</div>
			<div class="info description d-2">
				<h4><%= image_tag("apartment-1.png", :class => 'apartment') %> Apartamento</h4>
				<ul>
					<li>
						<p>
							<strong>1</strong> <small>estacionamento</small>
						</p>
					</li>
					<li>
						<p>
							<strong>1</strong> <small> portão individual para cada vaga de garagem</small>
						</p>
					</li>
					<li>
						<p>
							<strong>2</strong> <small>dormitórios</small>
						</p>
					</li>
					<li>
						<p>
							<strong>56,91 m²</strong> <small>de área total privativa</small> <span class="smaller">incluindo vaga de garagem</span>
						</p>
					</li>
					<li>
						<ul  class="clearing-thumbs" data-clearing>
							 <li>
							 	<a data-tooltip class="th radius has-tip tip-left" title="Clique para ver a planta" href="/assets/apto-1.png">
							 		<%= image_tag("apto-1.png", :alt => "Planta do apartamento", :class => 'planta', :data => { :caption => 'Planta do apartamento'} ) %>

							 	</a>
							 </li>
							 <li class="hide">
							 	<a data-tooltip class="th radius has-tip tip-left" href="/assets/apartamento.jpg">
							 		<%= image_tag("apartamento.jpg", :alt => "Planta do apartamento", :class => 'planta', :data => { :caption => 'Planta do apartamento'} ) %>

							 	</a>
							 </li>
							 <li class="hide">
							 	<a data-tooltip class="th radius has-tip tip-left" href="/assets/cozinha.jpg">
							 		<%= image_tag("cozinha.jpg", :alt => "Cozinha", :class => 'planta', :data => { :caption => 'Cozinha'} ) %>

							 	</a>
							 </li>
							 <li class="hide">
							 	<a data-tooltip class="th radius has-tip tip-left" href="/assets/quarto-casal.jpg">
							 		<%= image_tag("quarto-casal.jpg", :alt => "Quarto casal", :class => 'planta', :data => { :caption => 'Quarto casal'} ) %>

							 	</a>
							 </li>
							 <li class="hide">
							 	<a data-tooltip class="th radius has-tip tip-left" href="/assets/sala-estar.jpg">
							 		<%= image_tag("sala-estar.jpg", :alt => "Sala de estar", :class => 'planta', :data => { :caption => 'Sala de estar'} ) %>

							 	</a>
							 </li>
							 <li class="hide">
							 	<a data-tooltip class="th radius has-tip tip-left" href="/assets/guarita.jpg">
							 		<%= image_tag("guarita.jpg", :alt => "Guarita", :class => 'planta', :data => { :caption => 'Guarita'} ) %>

							 	</a>
							 </li>
						</ul>
					</li>
					<li class="mais-info">
						<a href="#" class="button success round" data-reveal-id="info-apt"> Mais informações</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="large-12 columns wrapper bg-6 no-padding" >
		<div id="fly-it"  class="large-12 columns">
			
			<h2 class="mais-acessivel-move">
				<strong>ACESSÍVEL</strong><br/>
			<small>Veja a distância e comece seu futuro</small>
			</h2>
			 
			<div class="content" >
				<div id="map">
					
				</div>
			</div>
			<div id="distance" class="info"></div>
		</div>
	</div>
	<div class="large-12 columns wrapper bg-6 no-padding">
		<div id="fade-it-1" class="large-12 columns ">
			<h2 class="mais-planejado-move"><strong>PLANEJADO</strong><br/>
				<small>Não faltará nada!</small></h2>
			<div class="large-12 columns content">
				</figure>
					<%= image_tag("planta-1.jpg", :alt => "Planta do empreendimento", :class => 'box-shadow-green') %>
				  	<figcaption>* Imagem representa a planta inicial do projeto, entretanto a mesma poderá sofrer modificação no decorrer de sua execução.</figcaption>
				</figure>
			</div>
		</div>
	</div>
	<div class="large-12 columns wrapper bg-4 no-padding no-box-shadow">
			<h2 class="no-background saiba-mais-move"><strong>SAIBA MAIS</strong><br/>	
				<small>Cadastre-se e receba as novidades para começar seu futuro</small>
			</h2>

			<div class="large-12 columns content">
				 <%= form_for(@client, :html => {:class => 'custom row' } ) do |f| %>
				 <%= error_messages_for @client %>

				  <div class="row">
				  	 <div class="large-12 columns">
					     <label>Nome</label>
					    <%= f.text_field :nome, :placeholder => "Cliente feliz", :required => true %>
				    </div>
				  </div>
				  <div class="row">
				  	 <div class="large-6 columns">
					     <label>E-mail</label>
					    <%= f.email_field :email, :placeholder => "exemplo@mirafloris.com", :required => true , :type => "email"  %>
				    </div>
				     <div class="large-6 columns">
					     <label>CPF</label>
					    <%= f.text_field :cpf, :placeholder => "999.000.999-11", :required => true ,  :pattern => '\d{3}\.\d{3}\.\d{3}-\d{2}',  :title => "Digite o CPF no formato 999.999.999-11"%>
				    </div>
				  </div>
				  <div class="row">
				  	 <div class="large-6 columns">
					     <label>Cidade</label>
					    <%= f.text_field :cidade, :placeholder => "Teresina", :required => true%>
				    </div>
				     <div class="large-6 columns">
					     <label>Celular</label>
						<%= f.text_field :telefone, :placeholder => "(86)9999-0000", :required => true  , :type => "tel" , :pattern => '[\(]\d{2}[\)]\d{4}[\-]\d{4}', :title => "Digite o número no formato (86)9999-0000, sem espaços" %>
				    </div>
				  </div>
				   <div class="row margin-top">
				    	 <div class="large-3 columns">
				    	 	<label class="margin-label">Idade</label>
				    	 	<label for="idade" class="small">
								<%= f.radio_button :idade, '18-25', :checked => true %>
				    	 		<span class="custom radio checked"></span> 
				    	 	18 - 25 anos</label>
				    	 	<label for="idade" class="small">
								<%= f.radio_button :idade, '26-30'%>
				    	 		<span class="custom radio "></span> 
				    	 	26 - 35 anos</label>
				    	 	<label for="idade" class="small">
								<%= f.radio_button :idade, '36-50'%>
				    	 		<span class="custom radio "></span> 
				    	 	36 - 50 anos</label>
				    	 	<label for="idade" class="small">
								<%= f.radio_button :idade, '+50'%>
				    	 		<span class="custom radio "></span> 
				    	 	+ 50 anos</label>
				    	 </div>
				    	 <div class="large-3 columns">
				    	 	<label class="margin-label">Sexo</label>
				    	 	<label for="sexo" class="small">
								<%= f.radio_button :sexo, 'm', :checked => true %>
				    	 		<span class="custom radio checked"></span> 
				    	 	Masculino</label>
				    	 	<label for="sexo" class="small">
								<%= f.radio_button :sexo, 'f'%>
				    	 		<span class="custom radio "></span> 
				    	 	Feminino</label>
				    	 </div>
				    	 <div class="large-3 columns">
				    	 	<label class="margin-label">Estado Civil</label>
				    	 	<label for="estado_civil" class="small">
								<%= f.radio_button :estado_civil, 'solteiro', :checked => true, :class => 'estado_civil' %>
				    	 		<span class="custom radio checked"></span> 
				    	 	Solteiro</label>
				    	 	<label for="estado_civil" class="small">
								<%= f.radio_button :estado_civil, 'casado', :class => 'estado_civil'%>
				    	 		<span class="custom radio "></span> 
				    	 	Casado</label>
				    	 </div>
				    	 <div class="large-3 columns">
				    	 	<label class="margin-label">Renda Familiar</label>
				    	 	<label for="renda_familiar" class="small">
								<%= f.radio_button :renda_familiar, '3', :checked => true %>
				    	 		<span class="custom radio checked"></span> 
				    	 	Até 3 salários</label>
				    	 	<label for="renda_familiar" class="small">
								<%= f.radio_button :renda_familiar, '3-6'%>
				    	 		<span class="custom radio"></span> 
				    	 	De 3 à 6 salários</label>
				    	 	<label for="renda_familiar" class="small">
								<%= f.radio_button :renda_familiar, '+6'%>
				    	 		<span class="custom radio"></span> 
				    	 	 + 6 salários</label>
				    	 </div>
				   </div>
				  <div class="conjugue">
				  	<h4>Cônjugue</h4>
					 <div class="row">
					  	 <div class="large-12 columns">
						     <label>Nome</label>
						    <%= f.text_field :conjugue_nome, :placeholder => "Seu cônjugue" %>
					    </div>
					  </div>
					  <div class="row">
					  	<div class="large-6 columns">
						     <label>E-mail</label>
						    <%= f.email_field :conjugue_email, :placeholder => "cônjugue@mirafloris.com", :type => "email"  %>
					    </div>
					     <div class="large-6 columns">
						     <label>CPF</label>
						    <%= f.text_field :conjugue_cpf, :placeholder => "999.000.999-11", :pattern => '\d{3}\.\d{3}\.\d{3}-\d{2}',  :title => "Digite o CPF no formato 999.999.999-11" %>
					    </div>
					  </div>
					  <div class="row">
					  	 <div class="large-6 columns">
				    	 	<label class="margin-label">Sexo</label>
				    	 	<label for="sexo" class="small">
								<%= f.radio_button :conjugue_sexo, 'm' %>
				    	 		<span class="custom radio"></span> 
				    	 	Masculino</label>
				    	 	<label for="sexo" class="small">
								<%= f.radio_button :conjugue_sexo, 'f', :checked => true %>
				    	 		<span class="custom radio checked"></span> 
				    	 	Feminino</label>
				    	 </div>
					  </div>
				  </div>
				  <div class="row">
				  	<div class="large-4 large-centered columns">
				    	<%= f.button "Enviar", :class => "large button success round expand"%>
				    </div>
				  </div>
				<% end %>
			</div>
			<h2 class="no-background"><strong>Acompanhe</strong></h2>
			<div class="large-4 large-centered columns acompanhe">
				<div class="large-6 columns">
					<%= image_tag("twitter-bird-light-bgs-1.png", :class => 'remanso') %>
					<a href="http://www.twitter.com/mirafloris" target="_blank">@mirafloris</a>
				</div>
				<div class="large-6 columns">
					<%= image_tag("facebook-1.png", :class => 'remanso') %>
					<a href="http://www.facebook.com/mirafloristeresina" target="_blank">/MiraflorisTeresina</a>
				</div>
			</div>
	</div>
	<footer>
		<div class="large-12 columns wrapper bg-5 no-padding no-box-shadow">
			<h2 class="no-background color-black realizacao-move"><strong>REALIZAÇÃO</strong><br/></h2>
			<div class="large-7 large-centered columns">
				<ul class="assinatura ">
					<li>
						<%= image_tag("logo-2.png", :class => 'remanso') %>
					</li>
					<li>
						<%= image_tag("remanso.png", :class => 'remanso') %>
					</li>
					<li>
						<%= image_tag("sucesso.jpg", :class => 'sucesso') %>
					</li>
				</ul>
			</div>
			<h2 class="no-background color-black realizacao-move"><strong>FINANCIAMENTO</strong><br/></h2>
				<div class="large-5 large-centered columns">
				<ul class="assinatura ">
					<li>
						<%= image_tag("minha-casa.jpg", :class => 'remanso') %>
					</li>
					<li>
						<%= image_tag("caixa.jpg", :class => 'sucesso') %>
					</li>
				</ul>
			</div>
		</div>

		<div class="large-12 columns">
			<div class="large-6 columns">
				<p class="right">Registro Imobiliário do Terreno: R-1-62-200</p>
			</div>
			<div class="large-6 columns">
				<p>CNPJ: 09.039.459/0001-73</p>
			</div>
			<div class="large-8 large-centered columns">
				<p>Todas as imagens neste site são meramente ilustrativas. Os itens de decoração e mobiliário são apenas projeções e sugestões para os futuros proprietários. </p>
			</div>
		</div>
	</footer>

	<div id="aviso" class="reveal-modal medium">
	  <h2>Melhore sua experiência</h2>
	 <div class="content-modal">
	    	<%= image_tag("arrow.png", :class => 'left arrow') %>
	    	<h3 class="lead left">Permita seu navegador usar sua localização</h3>
	    	<%= image_tag("local.png", :class => 'right local') %>
	 </div>
	 
	  <a class="close-reveal-modal">&#215;</a>
	</div>

	<div id="info-apt" class="reveal-modal medium">
	  <h2> INFORMAÇÕES DO APARTAMENTO</h2>
	  <div class="row">
		  <div class="large-6 columns">
		  	<ul>
		  		<li>
		  			<p>Água e energia  <strong>individualizada</strong></p>
		  		</li>
		  		<li>
		  			<p>Todos os apartamentos <strong>permitem adaptação</strong> para pessoas com necessidade especial</p>
		  		</li>
		  		<li>
		  			<p><strong>1</strong> sala</p>
		  		</li>
		  		<li>
		  			<p><strong>1</strong> cozinha</p>
		  		</li>
		  		<li>
		  			<p><strong>1</strong> BWC</p>
		  		</li>
		  		<li>
		  			<p><strong>1</strong> varanda</p>
		  		</li>
		  		<li>
		  			<p><strong>1</strong> área de serviço</p>
		  		</li>
		  		<li>
		  			<p><strong>2</strong> dormitórios</p>
		  		</li>
		  	</ul>
		  	
		  </div>
		  <div class="large-6 columns">
		  		<%= image_tag("apto-1.png", :class => 'left') %>
		  </div>
	  </div>
	  <a class="close-reveal-modal">&#215;</a>
	</div>
	<div id="images-apt" class="reveal-modal medium">
	  <h2> IMAGENS INTERNAS e EXTERNAS</h2>
	  <div class="row">
	  	<ul  class="clearing-thumbs" data-clearing>
		 <li >
		 	<a class="th" title="Clique para ver a planta" href="/assets/apto-1.png">
		 		<%= image_tag("apto-1.png", :alt => "Planta do apartamento", :class => 'planta', :data => { :caption => 'Planta do apartamento'} ) %>

		 	</a>
		 </li>
		 <li>
		 	<a class="th" href="/assets/apartamento.jpg">
		 		<%= image_tag("apartamento.jpg", :alt => "Planta do apartamento", :class => 'planta', :data => { :caption => 'Planta do apartamento'} ) %>

		 	</a>
		 </li>
		 <li>
		 	<a class="th" href="/assets/cozinha.jpg">
		 		<%= image_tag("cozinha.jpg", :alt => "Cozinha", :class => 'planta', :data => { :caption => 'Cozinha'} ) %>

		 	</a>
		 </li>
		 <li>
		 	<a class="th" href="/assets/quarto-casal.jpg">
		 		<%= image_tag("quarto-casal.jpg", :alt => "Quarto casal", :class => 'planta', :data => { :caption => 'Quarto casal'} ) %>

		 	</a>
		 </li>
		 <li>
		 	<a class="th" href="/assets/sala-estar.jpg">
		 		<%= image_tag("sala-estar.jpg", :alt => "Sala de estar", :class => 'planta', :data => { :caption => 'Sala de estar'} ) %>

		 	</a>
		 </li>
		 <li>
		 	<a class="th" href="/assets/guarita.jpg">
		 		<%= image_tag("guarita.jpg", :alt => "Guarita", :class => 'planta', :data => { :caption => 'Guarita'} ) %>

		 	</a>
		 </li>
	</ul>
	  </div>
	  <a class="close-reveal-modal">&#215;</a>
	</div>


	<div id="videos-apt" class="reveal-modal medium">
	  <h2> Vídeos</h2>
	  <div class="row">	
	  <div class="flex-video">	
<iframe width="560" height="315" src="https://www.youtube.com/embed/UABcrYFf40I" frameborder="0" allowfullscreen></iframe>
 		</div>
	  </div>
	  <a class="close-reveal-modal">&#215;</a>
	</div>

