<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="pt_BR" > <!--<![endif]-->
<html>
<head>
  <title>Lançamentos Mirafloris - O Primeiro Bairro de Condomínios de Teresina - Minha Casa, Minha Vida</title>
  
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="O primeiro bairro de condomínios de Teresina" />
  <meta name="keywords" content="mirafloris, teresina, primeiro, maior bairro, condomínio, minha casa, minha vida" />
  <meta name="author" content="	Wings" />

  <link href='http://fonts.googleapis.com/css?family=Molengo' rel='stylesheet' type='text/css'>
  <link rel="canonical" href="http://www.mirafloris.com.br" />
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=geometry"></script> 

  <%= favicon_link_tag '/assets/favicon-original.png' %>

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@mirafloris">
  <meta name="twitter:creator" content="@candidosales">

  <meta property='og:type' content='website'/>
  <meta property='og:image' content='http://www.mirafloris.com.br/assets/favicon.png'/>
  <meta property='og:title' content='Lançamentos Mirafloris - O Primeiro Bairro de Condomínios de Teresina - Minha Casa, Minha Vida'/>
  <meta property='og:description' content='Chegou o primeiro bairro de condomínios de Teresina. Em uma região privilegiada com o maior potencial de valorização da cidade, lugar acessível e perto da natureza. '>
  <meta property='og:url' content='http://www.mirafloris.com.br'/>
  <meta property='og:site_name' content='Mirafloris - Comece seu futuro!'/>


  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'shared/navigation' %>
  <%= yield %>
  <%= javascript_include_tag "application" %>
  <a href="https://plus.google.com/115214367077105325937" rel="publisher">Google+</a>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-15472644-27', 'mirafloris.com.br');
    ga('send', 'pageview');

  </script>

</body>
</html>
