<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="pt-BR" > <!--<![endif]-->
<html>
<head>
  <title>Lançamentos Mirafloris - O Maior Complexo de Condomínio de Teresina</title>
  
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="description" content="O maior complexo de condomínios de Teresina" />
  <meta name="keywords" content="mirafloris, teresina, maior bairro, condomínio" />
  <meta name="author" content="	Wings" />

  <link href='http://fonts.googleapis.com/css?family=Molengo' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=geometry"></script> 

  <%= favicon_link_tag '/assets/favicon-original.png' %>

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@mirafloris">
  <meta name="twitter:creator" content="@candidosales">

  <meta property="og:image" content="/assets/favicon.png"/>
  <meta property="og:title" content="Mirafloris - O maior complexo de condomínios de Teresina"/>
  <meta property="og:description" content="Chegou o maior complexo de condomínios de Teresina. Em uma região privilegiada surge um novo bairro, com o maior potencial de valorização da cidade, mais acessível e perto da natureza. ">
  <meta property="og:url" content="http://www.mirafloris.com.br"/>
  <meta property="og:site_name" content="Mirafloris - Comece seu futuro!"/>


  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=429216430425274";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <%= render 'shared/navigation' %>
  <%= yield %>
  <%= javascript_include_tag "application" %>

</body>
</html>
